<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico?v=<%= v %>" type="image/x-icon">
  <title>Your Profile</title>
  <!-- Include Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/profile.css?v=<%= v %>">
</head>
<body>
  <header>
    <nav>
      <a href="/"><i class="fa fa-home"></i> Dashboard</a>
      <% if (user.isMaster) { %>
        <a href="/create-user"><i class="fas fa-pencil-alt"></i> Create Users</a>
        <a href="/permission"><i class="fas fa-lock"></i> Permissions</a>
      <% } %>
      <a href="/billing"><i class="fa fa-money-bill-wave"></i> Billing</a>
      <a href="/logout"><i class="fa fa-sign-out-alt"></i> Logout</a>
    </nav>
  </header>
  <main>
    <section class="profile-details">
      <p><strong>Full Name:</strong> <%= user.name %></p>
      <p><strong>Business Name:</strong> <%= user.businessName %></p>
      <p><strong>Email Address:</strong> <%= user.email %></p>
      <p><strong>Phone Number:</strong> <%= user.phone %></p>
      <p><strong>Address:</strong> <%= user.address %></p>
      <p><strong>Location:</strong> <%= user.location %></p>
      <% if (user.subscriptionExpiry) { %>
        <p>
          <strong>Subscription Expiry:</strong>
          <%= new Date(user.subscriptionExpiry).toLocaleDateString() %>
        </p>
      <% } %>
      
    </section>
  </main>
  <script src="/js/firebasePersistence.js" type="module"></script>
</body>
<script src="/js/firebasePersistence.js" type="module"></script>
</html>
